<li>
  <a href='https://www.myspace.com/'>
    Tom
    <img src='assets/images/avatars/tom.jpg'  />
  </a>
</li>

{{#each friends as |friend|}}
  <li>
    <a href={{friend.url}}>
      {{friend.name}}
      <img src={{friend.image}}  />
    </a>
  </li>
{{/each}}
