<div class='row home'>
  <div class='small-12 medium-6 columns'>
    <h3 class='name'>Willman Duffy</h3>

    <div class='row'>
      <div class='small-6 medium-6 columns'>
        <img src='assets/images/profile.jpg'  />
      </div>

      <div class='small-6 medium-6 columns'>
        <span>we're all gonna die</span>

        <ul class='bio'>
          <li>Male</li>
          <li>27 years old</li>
          <li>New York City, NY</li>
        </ul>

        <img src='assets/images/onlinenow.gif'  />

        <span class='last-login'>Last Login: 6/26/2016</span>
      </div>
    </div>

    <div class='row media-links'>
      <span class='mood'>Mood: &#128169;</span>
      View My <a href='https://www.instagram.com/willmanduffy/'>Pics</a>
      |
      <a href='https://vine.co/willman'>Videos</a>
    </div>

    <div class='row collapse'>
      <div class='title-bar blue contact-title'>
        Contact Willman Duffy
      </div>

      <ul class='contact'>
        <li><a href='https://www.github.com/willmanduffy'>Github</a></li>
        <li><a href='https://www.twitter.com/willmanduffy'>Twitter</a></li>
        <li><a href='https://www.instagram.com/willmanduffy/'>Instagram</a></li>
        <li><a href='https://vine.co/willman'>Vine</a></li>
        <li>{{#link-to 'resume'}}Resume{{/link-to}}</li>
      </ul>
    </div>
  </div>

  <div class='small-12 medium-6 columns'>
    <div class='extended-network'>
      <h3>Willman Duffy is in your extended network</h3>
    </div>

    <div class='title-bar orange'>
      Willman's Blurbs
    </div>

    <p>
      Hi there! I'm Willman. I'm a web developer living in NYC. I've been
      described as "unfunny" and "a little confounding" by some of the
      smartest people on the internet. I also like to spend some of my
      time helping out with community events like
      <a href='http://www.brooklynjs.com'>BrooklynJS</a>.
    </p>

    <p>
      If I'm not doing any of the above you can probably find me tweeting,
      reading about history, watching TV, or finding new tunes. It's my
      dream that someday we'll all find it within ourselves to treat each
      other just a little bit better.
    </p>

    <div class='title-bar orange'>
      Willman's Friend Space
    </div>

    {{#if model}}
      {{top-friends model=model}}
    {{/if}}
  </div>
</div>
