<div class='row resume'>
  <div class='small-12 columns'>
    <div class='resume-header'>
      <h2 class='timeline-title'>Willman Duffy</h2>
      <span class='timeline-subtitle'><a href='mailto:willmanduffy@gmail.com'>willmanduffy@gmail.com</a></span>

      {{#link-to 'home'}}
        <img src='assets/images/profile.jpg' class='resume-image'  />
      {{/link-to}}
    </div>

    <ul class='timeline header-timeline'>
      <li class='summary'>
        <div class='timeline-panel without-arrow full-width'>
          <div class='title-bar blue without-margin'>
            Summary
          </div>

          <p>
            <ul>
              <li>An accomplished full-stack developer with a demonstrable track record of shipping web applications on time or early.</li>
              <li>Experience working both with designers and acting as the sole designer on products. Known to have an eye for details.</li>
              <li>Community organizer with ties to conferences and monthly meetups across the globe that aim to create safe spaces for anyone with an interest in programming.</li>
              <li>Lover of code review who strives to make code review an empathetic, positive experience for all involved.</li>
            </ul>
          </p>
        </div>
      </li>

      <li>
        <div class='timeline-panel without-arrow'>
          <div class='title-bar blue without-margin'>
            Skills
          </div>

          <p class='skills'>
            <span class='skill-header'>Professional experience with</span>
            Ruby (Rails), JavaScript (Ember.js), HTML, CSS (Sass), SQL
            (PostgreSQL, MySQL), Git, Atom, Vim, OS X, Linux, Docker,
            VirtualBox, Zsh, Boxen, Amazon S3, Digital Ocean, Heroku, Redis
            (Sidekiq and Resque)

            <span class='skill-header'>Testing experience with</span>
            Rails (Rspec and Minitest), JavaScript (Jasmine, QUnit)

            <span class='skill-header'>Hobby experience with</span>
            C++, Bash, PHP, Perl, LaTeX
          </p>
        </div>
      </li>

      <li class='inverted'>
        <div class='timeline-panel without-arrow'>
          <div class='title-bar orange without-margin'>
            Education
          </div>

          <p class='skills'>
            <span class='skill-header'>Wentworth Institute of Technology</span>
            Bachelor of Science in Computer Networking
          </p>
        </div>
      </li>
    </ul>

    <ul class='timeline'>
      {{#each model as |experience|}}
        <li>
          {{
            timeline-panel
            experience=experience
          }}
        </li>
      {{/each}}
    </ul>
  </div>
</div>
